* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* <-------- Header ---------> */

#header {
    background: #edede9;

}

#header .row {
    margin-top: 70px;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

/* <-------- Akhir Header ---------> */

/* <-------- Navbar ---------> */

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #555;
}

.menu-hamburger {
    margin-left: 20px;
    width: 28px;
    display: none;
}


/* <--------- Akhir Navbar -------> */



/* <----------- Hero --------------> */

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 40%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    color: #084c61;

}

.col-2 P {
    color: #00171f;
}

/* <----------- Akhir Hero --------------> */

/* <----------- Button --------------> */

.button {
    display: inline-block;
    background: #084c61;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5;
}

.button:hover {
    background: #00171f;
}

/* <----------- akhir Button --------------> */

/* <----------- Series Product --------------> */

#series {
    margin: 70px 0;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img {
    width: 100%;
}



/* <-----------  Akhir Series Product ---------> */

/* <----------- New Arrivals --------------> */

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img {
    width: 100%;
}

.col-4:hover {
    transform: translateY(-5px)
}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #1D4140;
}

.title::after {
    content: '';
    background: #197278;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

}

h4 {
    color: #555;
    font-weight: normal;
    font-size: 15px;
    text-align: center;
}


span {
    text-decoration: line-through;

}

/* <----------- Akhir New Arrivals --------------> */

/* <----------- All Products --------------> */

.rating {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 3px;
}

/* <----------- Akhir All Products --------------> */

/* <----------- About --------------> */

#about-us {
    background: #edede9;
    margin-top: 40px;
    padding: 10px 0;
}

.about img {
    width: auto;

}

small {
    color: #555;
}

/* <----------- Akhir About --------------> */


/* <----------- Sign Up --------------> */



.signup-box {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 800px;
    flex-wrap: wrap;
}

.kolom-1,
.kolom-2 {
    flex-basis: 50%;
}

.kolom-1 img {
    width: 100%;
    display: block;
}

.kolom-2 {
    background: #ffffff;
    padding: 40px 8%;
    color: #133947;
    min-width: 250px;
}

.kolom-2 h2 {
    font-weight: 600;
}

.kolom-2 p {
    font-size: 12px;
}

.kolom-2 p a {
    text-decoration: none;
    color: #084c61;
    font-weight: 500;
}

.google-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #133947;
    text-decoration: none;
    color: #555;
    font-size: 13px;
    margin: 20px 0;
}

.google-link img {
    width: 20px;
    margin-right: 10px;
}

.kolom-2 h4 {
    text-align: center;
    font-weight: 400;
    margin-bottom: 10px;
}

.input-field {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #133947;
    outline: none;
    display: block;
    width: 100%;
    margin: 5px 0 10px;
}

form label {
    font-weight: 500;
    font-size: 12px;
}

.baris {
    display: flex;
    align-items: 6px;
}

.baris input {
    margin-right: 6px;
}

.kolom-2 form button {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #133947;
    outline: none;
    display: block;
    width: 100%;
    margin: 18px 0 10px;
    background: #084c61;
    color: #fff;
    cursor: pointer;


}

/* <----------- Akhir Sign up --------------> */


/* <----------- Footer --------------> */

.footer {
    background: #084c61;
    color: #8a8a8a;
    font-size: 15px;
    padding: 60px 0 20px;
}

.footer p {
    color: #8a8a8a;
}


.footer h3 {
    color: #fff;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
    min-height: 250px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis: 30%;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
}

.footer-col-2 img {
    width: 250px;
    margin-bottom: 20px;
}

.footer-col-3,
.footer-col-4 {
    flex-basis: 12%;
    text-align: center;
}

ul {
    list-style: none;
}

.app-logo {
    margin-top: 20px;
}

.app-logo img {
    width: 140px;
}

.footer hr {
    border: none;
    background: #edede9;
    height: 1px;
    margin: 20px 0;
}

.name {
    text-align: center;

}

h2 {
    color: #fff;
}

/* <----------- Akhir Footer --------------> */

/* <----------- Media Quary menu--------------> */

@media only screen and (max-width: 800px) {
    nav ul {
        position: absolute;
        top: 150px;
        left: 0;
        background: #133947;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li {
        color: #fff;
    }

    .menu-hamburger {
        display: block;
        cursor: pointer;
    }
}

/* <----------- Media Quary menu <600px -------------> */

@media only screen and (max-width: 600px) {
    .row {
        text-align: center;
    }

    .col-2,
    .col-3,
    .col-4,
    .kolom-1,
    .kolom-2 {
        flex-basis: 100%;
    }
}